---
layout: default
---
  <div class="container">
    <div class="row">
      <div class="section">
        <div class="section">
          <div class="col s12">
            <h3>A gente ajuda organizações do terceiro setor a criar fidelidade com pessoas que acreditam na mesma causa.</h3>     
          </div>

          <p>Se sua organização precisa de mais doações, quer gerar confiança com seus mantenedores ou quer ser mais trasparente, é só deixar seu nome e email aqui em baixo: </p>

          {% include form.html %}
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      
      <div class="col s12 l6">
        <h1 class="center"><i class="fa fa-flag-checkered" aria-hidden="true"></i></h1>
        <h5 class="center">Levante sua bandeira</h5>
        <p>As pessoas se conectam pelos seus ideais e pelas suas emoções. Para as pessoas se engajarem com sua empresa ou organização, elas precisam entender de forma clara aquilo que sua organização faz pelo mundo.</p>
        <p>Pra isso você precisa de uma mensagem clara do quê a organização faz.</p>
      </div>
      
      <div class="col s12 l6">
        <h1 class="center"><i class="fa fa-heart-o" aria-hidden="true"></i></h1>
        <h5 class="center">Consiga doações</h5>
        <p>A internet é uma ferramenta poderosa para juntar pessoas.</p>
        <p>Um jeito das pessoas contribuirem pra uma causa que elas acreditam é doando seu dinheiro.</p>
        <p>Pra isso, tudo o que você precisa é uma plataforma que tenha apelo visual e emocional pra quem compartilha dessa mesma causa.</p>
      </div>

  </div>
</div>

<div class="row fundo">
  <div class="container">
    <br>
    <h3 class="blue-text">Todo mundo precisa de um site, certo? Errado! Só adianta ter um site se ele ajuda sua organização de alguma maneira.</h3>
   
    <p class="large blue-text">Por isso, o Instuto Benefi criou um cronograma pra entender sua organização ou empresa antes mesmo da gente conversar sobre investimentos.</p>
    <p class="large blue-text">O cronograma foi feito pra entender você. Muitas vezes, ao responder essa pergunta a organização tem uma compreensão de si que ajuda muito na gestão interna e na captação de recursos. As perguntas a serem respondidas são essas:</p>
    <ol>
      <li class="large blue-text">Quem é sua marca?</li>
      <li class="large blue-text">Por qual causa você trabalha?</li>
      <li class="large blue-text">Quem você serve?</li>
      <li class="large blue-text">Quem te financia?</li>
      <li class="large blue-text">Porque eles te financiam?</li>
      <li class="large blue-text">Qual a melhor forma de alcançar essas pessoas?</li>
    </ol>
    <p class="large blue-text">O resultado disso tudo é a ferramenta perfeita pra conectar com as pessoas que querem ajudar sua organização.</p>
  </div>
</div>

<div class="row">
  <div class="container">   
  <h2 class="center">Alguns trabalhos realizados pelo Instituto Benefi</h2> 
    <div class="col m6 s12">
      <img class="responsive-img" src="assets/img/concrista-work.png" alt="">
      <p>Código e mecanismo de inscrição.</p>
      <p><a href="http://conscienciacrista.org.br/">Confira o site ao vivo.</a></p>
    </div>
    <div class="col m6 s12">
      <img class="responsive-img" src="assets/img/eirene-work.png" alt="">
      <p>Ilustrações, código, navegação e construção de conteúdo de tudo menos das notícias.</p>
      <p><a href="http://eirene.com.br/">Confira o site ao vivo.</a></p>
    </div>
  </div>
    
  <div class="container">
    <div class="col m6 s12">
      <img class="responsive-img" src="assets/img/ohmyema-work.png" alt="">
      <p>Logotipo, identidade visual, código, assessoria de conteúdo e de crescimento.</p>
      <p><a href="http://ohmyema.com/">Confira o site ao vivo.</a></p>
    </div>
    <div class="col m6 s12">
      <img class="responsive-img" src="assets/img/jornada-work.png" alt="">
      <p>Logotipo, identidade visual, código e crescimento.</p>
      <p><a href="http://jornadablog.com/">Confira o site ao vivo.</a></p>
    </div>
  </div>
</div>

<div class="container"><div class="divider"></div></div>

<div class="row">
  <div class="container">
    <h3>Sua organização precisa de uma ferramenta que conecte seu público com sua causa. Basta deixar seu nome e email aqui em baixo que a gente entra em contato:</h3>
    {% include form.html %}
  </div>
</div>