<script src="https://assets.convertkit.com/assets/CKJS4.js?v=21"></script>
    <!--  Form starts here  -->
    <form id="ck_subscribe_form" action="https://app.convertkit.com/landing_pages/67709/subscribe" data-remote="true">
      <input type="hidden" value="{&quot;form_style&quot;:&quot;full&quot;,&quot;converted_behavior&quot;:&quot;show&quot;}" id="ck_form_options">
      <input type="hidden" name="id" value="67709" id="landing_page_id">
      <div class="ck_errorArea">
        <div id="ck_error_msg" style="display:none">
          <p>There was an error submitting your subscription. Please try again.</p>
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s6">
          <label for="ck_firstNameField">Primeiro nome</label>
          <input type="text" name="first_name" class="validate" id="ck_firstNameField">
        </div>
        <div class="input-field col s6">
          <label for="ck_emailField">Email</label>
          <input type="email" name="email" class="validate" id="ck_emailField" required>
        </div>
      </div>

        <label class="ck_checkbox" style="display:none;">
          <input class="optIn ck_course_opted" name="course_opted" type="checkbox" id="optIn" checked />
          <span class="ck_opt_in_prompt">I'd like to receive the free email course.</span>
        </label>

      <button class="btn blue" id="ck_subscribe_button">
        Quero um portfólio que traga confiança!
      </button>
      <span class="ck_guarantee">
        
      </span>
    </form>

