---
layout: default
---

{% assign minutes = content | strip_html | number_of_words | divided_by: 180 %}
{% if minutes == 0 %}
{% assign minutes = 1 %}
{% endif %}

<div class="section">
    <div class="row">
        <div class="col s12 m10 offset-m1 l8 offset-l2">

                <h4 class="blue-text center">{{ page.title }}</h4>
                <h5 class="center-align grey-text text-darken-1 ">Publicado em {% assign m = page.date | date: "%-m" %} 
                {{ page.date | date: "%-d de" }}
                {% case m %}
                  {% when '1' %}Janeiro
                  {% when '2' %}Fevereiro
                  {% when '3' %}Março
                  {% when '4' %}Abril
                  {% when '5' %}Maio
                  {% when '6' %}Junho
                  {% when '7' %}Julho
                  {% when '8' %}Agosto
                  {% when '9' %}Setembro
                  {% when '10' %}Outubro
                  {% when '11' %}Novembro
                  {% when '12' %}Dezembro
                {% endcase %} 
                {{ page.date | date: "de %Y" }}</h5>
                <p class="center-align grey-text text-darken-1 thin">
                    {% if page.minutes %}
                    Leitura de {{ page.minutes }} minutos
                    {% else %}
                    Leitura de {{ minutes }} minutos
                    {% endif %}
                </p>
                <br/>
                <div class="divider"></div>
                <article class="post-categories center-align">
                    {% for cat in page.categories %}<div class="chip">{{ cat }}</div> {% endfor %}
                </article>
                <article class="grey-text text-darken-2 post-content">
                    {{ content }}
                </article>
                <article class="post-comment">
                    {% include comments.html %}
                </article>

        </div>
    </div>
</div>
